<% provide(:title, 'About Us') %>
<!DOCTYPE html>
<html>
<head>
  <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
</head>
<body>

<h1>About us</h1>
<p>
  The <a href="http://railstutorial.org">RoR Tutorial</a> ia a project to make a book and screencasts to teach web development.
</p>

</body>
</html>
